
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <link href="/css/main.css" rel="stylesheet" />
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   <link href="/css/admin-page.css" rel="stylesheet"/>
  </head>
  <body>
    <header class="header">
       <a name="start" asp-controller="Home" asp-action="Index" class="logo">
        <div class="logo-gray">My&nbsp;</div>
        <div class="logo-c">c</div>
        <div class="logo-i">i</div>
        <div class="logo-n">n</div>
        <div class="logo-white">ema</div>
      </a>
      <form>
        <input class="menu__search" type="search" placeholder="Пошук" />
      </form>
      <nav class="nav-links">
        <ul>
          <li><a asp-action ="Index" asp-controller="Movie">Фільми</a></li>
          <li><a href="#">Сеанси</a></li>
          <li><a asp-action="Shop" asp-controller="Home">Магазин</a></li>
          <li><a asp-action="PromotionsAndDiscounts" asp-controller="Home">Акції та знижки</a></li>
        </ul>
      </nav>
      <div class="menu__login">
        <ul class="profile-sign-out">
          @if(User.Identity.IsAuthenticated)
                {
              <form method="post" asp-controller="Session" asp-action="Logout">
                            <li style="margin-top: 5px; text-align:center"><input type="submit" value="Вихід" /></li>
            </form>    

             <li><p>&nbsp&nbsp | &nbsp&nbsp</p></li>
             <li>
                <a asp-action="UserInfoProfile" asp-controller="UserProfile">
                    <img  class="profile-sign-in main-photo-user" >
                </a>
             </li>
          }
          else
          {

              <li ><a asp-action="SignIn" asp-controller="Session">Вхід</a></li>
              <li><p>|</p></li>
              <li><a asp-action="SignUp" asp-controller="Session">Реєстрація</a></li>
          }
        </ul>
        <a href="">
          <div class="menu__login-img" href=""></div>
        </a>
      </div>
    </header>
    <!-- RenderBody -->
    <div class="container">
         
      <main role="main" class="pb-3">
         
          @RenderBody()
           
      </main>
    </div>
    <!-- RenderBody -->
    <footer class="footer">
      <hr />
      <div class="footer-block">
        <a name="end" href="#start"
          ><div class="footer-mycinema">MYCINEMA</div></a
        >
        <div class="footer-support">Підтримка</div>
        <div class="footer-partners">Партнери</div>
        <div class="footer-contact">Контакти</div>
        <div class="footer-partners-img"></div>
        <a href="#" class="footer-support-rules">Правила</a>
        <a href="#" class="footer-support-support">Підтримка</a>
        <div class="footer-contact-telone">+380670000000</div>
        <div class="footer-contact-teltwo">+380671111111</div>
        <div class="footer-contact-social">Соціальні мережі</div>

        <div class="footer-text">
          <a href="#">Підтримка</a>
          <p>│</p>
          <a href="#">Правила</a>
          <p>│</p>
          <a href="#">Карта сайта</a>
          <p>│</p>
          <a href="#">Новини</a>
        </div>
        <div class="footer-social-media">
          <a href=""
            ><svg class="facebook">
              <use href="/images/symbol.svg#icon-facebook"></use></svg
          ></a>
          <a href=""
            ><svg class="instagram">
              <use href="/images/symbol.svg#icon-instagram"></use></svg
          ></a>
          <a href=""
            ><svg class="linkedin">
              <use href="/images/symbol.svg#icon-linkedin"></use></svg
          ></a>
          <a href=""
            ><svg class="twitter">
              <use href="/images/symbol.svg#icon-twitter"></use></svg
          ></a>
          <a href=""
            ><svg class="youtube">
              <use href="/images/symbol.svg#icon-youtube"></use></svg
          ></a>
        </div>
        <div class="footer-lower-block">
          <div class="footer-lower-block-text">
            Copyright © 2021. All rights reserved │&nbsp;
            <a href="">Privacy Statement</a>
          </div>
        </div>
      </div>
    </footer>
    <script src="../node_modules/jquery/dist/jquery.js"></script>
    @RenderSection("scriptsMain", required: false)




@if (User.Identity.IsAuthenticated)
{
 

    <script>
            
         
             const url = '/Home/GetListUsers';
                
  
                $.getJSON(url, function (data)
                {
                  $.each(data, function (key, entry)
                  {
                      let elem =  document.getElementsByClassName('main-photo-user');
                      console.log(elem)
                      for(let i = 0; i < elem.length; i++)
                      if(entry.photoPath != null)
                      {
                            
                            elem[i].src = entry.photoPath
                      }
                      else
                      {
                           
                           elem[i].src = "/images/user-defoult-image.png"
                      }


                  })

                    });

         
    </script>


}


  </body>
</html>
