
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <link href="/css/main.css" rel="stylesheet" />
  </head>
  <body>
    <header class="header">
      <a name="start" href="" class="logo"
        ><div class="logo-gray">My&nbsp;</div>
        <div class="logo-c">c</div>
        <div class="logo-i">i</div>
        <div class="logo-n">n</div>
        <div class="logo-white">ema</div>
      </a>
      <form>
        <input class="menu__search" type="search" placeholder="Пошук" />
      </form>
      <nav class="nav__links">
        <ul>
          <li><a href="#">Фільми</a></li>
          <li><a href="#">ніга</a></li>
          <li><a href="#">фегот</a></li>
          <li><a href="#">пайдорас</a></li>
        </ul>
      </nav>
      <div class="menu__login">
        <ul>
          <li><a href="login.cshtml">Вхід</a></li>
          <li><p>|</p></li>
          <li><a href="#">Реєстрація</a></li>
        </ul>
        <a href="">
          <div class="menu__login-img" href=""></div>
        </a>
      </div>
    </header>
    <!-- RenderBody -->
    <div class="container">
      <main role="main" class="pb-3">@RenderBody()</main>
    </div>
    <!-- RenderBody -->
    <footer class="footer">
      <hr />
      <div class="footer-block">
        <a name="end" href="#start"
          ><div class="footer-mycinema">MYCINEMA</div></a
        >
        <div class="footer-support">Підтримка</div>
        <div class="footer-partners">Партнери</div>
        <div class="footer-contact">Контакти</div>
        <div class="footer-partners-img"></div>
        <a href="#" class="footer-support-rules">Правила</a>
        <a href="#" class="footer-support-support">Підтримка</a>
        <div class="footer-contact-telone">+380670000000</div>
        <div class="footer-contact-teltwo">+380671111111</div>
        <div class="footer-contact-social">Соціальні мережі</div>

        <div class="footer-text">
          <a href="#">Підтримка</a>
          <p>│</p>
          <a href="#">Правила</a>
          <p>│</p>
          <a href="#">Карта сайта</a>
          <p>│</p>
          <a href="#">Новини</a>
        </div>
        <div class="footer-social-media">
          <a href="#"> <div class="facebook"></div></a>
          <a href="#"><div class="youtube"></div></a>
          <a href="#"><div class="instagram"></div></a>
          <a href="#"><div class="linkedin"></div></a>
          <a href="#"><div class="telegram"></div></a>
        </div>
        <div class="footer-lower-block">
          <div class="footer-lower-block-text">
            Copyright © 2021. All rights reserved │&nbsp;
            <a href="">Privacy Statement</a>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
