.main {
  display: grid;
  grid-template-columns: 340px 290px 290px 290px 290px 340px;
  grid-template-rows: 400px 400px 400px;
  align-content: center;
  justify-content: center;
  gap: 10px 15px;
  margin: 155px 0 100px 0;
  .first-left-grid {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 4;
    background-image: url("../images/folder/left.jpg");
    background-position: center;
    box-shadow: 0 0 70px 50px rgba(0, 141, 193, 0.3);
  }
  .first-right-grid {
    grid-column-start: 6;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 4;
    background-image: url("../images/folder/right.jpg");
    background-position: center;
    box-shadow: 0 0 70px 50px rgba(0, 141, 193, 0.3);
  }
  &-first-film {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    .main-first-film-img {
      width: 269px;
      height: 340px;
      background-image: url("../images/folder/1.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      a {
        text-decoration: none;
      }
      .main-first-film-opacity {
        width: 269px;
        height: 340px;
        opacity: 0;
        &:hover,
        &:focus {
          width: 269px;
          height: 340px;
          opacity: 1;
          background-color: rgba(33, 33, 33, 0.75);
          padding: 10px;
        }
        .main-first-film-opacity-age {
          display: flex;
          width: 50px;
          height: 50px;
          fill: white;
          float: left;
          margin: 0 10px 0 0;
        }
        .main-first-film-opacity-2D {
          display: flex;
          width: 50px;
          height: 50px;
          fill: white;
          float: left;
          margin: 0 10px 0 0;
        }
        .main-first-film-opacity-3D {
          display: flex;
          width: 50px;
          height: 50px;
          fill: white;
          float: left;
        }
        .main-first-film-opacity-info {
          width: 200px;
          height: 40px;
          font-size: 20px;
          font-family: $ExtraBold;
          color: black;
          border-radius: 30px;
          background-color: $color-yellow;
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 0 auto;
          position: relative;
          top: 40px;
        }
        .main-first-film-opacity-data {
          width: 100%;
          font-size: 13px;
          color: $color-pink-red;
          font-family: $Regular;
          position: relative;
          top: 100px;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
        }
        .main-first-film-text {
          width: 100%;
          font-size: 30px;
          color: white;
          font-family: $Medium;
          position: relative;
          top: 100px;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
        }
      }
    }
  }

  &-second-film {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
    .main-second-film-img {
      width: 269px;
      height: 340px;
      background-image: url("../images/folder/4.jpg");
      background-repeat: no-repeat;
      background-position: bottom;
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
    }
    .main-second-film-info {
      width: 269px;
      height: 40px;
      margin: 0 auto;
      background-color: #f0e130;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: $Medium;
    }
    .main-second-film-text {
      color: black;
      font-family: $Medium;
      display: flex;
      justify-content: center;
      align-items: center;
      &:hover,
      &:focus {
        color: $color-pink-red;
      }
    }
  }
}
