@model CinemaProject.Models.SessionModels.ForgotPassword

@{
    ViewData["Title"] = "ForgotPassword";
    Layout = null;
}

@*<h1>ForgotPassword</h1>

<h4>ForgotPassword</h4>

<div >
    <div >
        
        @if (Model.EmailSent)
            {
                <div>Error</div>
            }
            else{
                 <form asp-action="ForgotPassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="EmailSent" /> @Html.DisplayNameFor(model => model.EmailSent)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
            }
           
        
       
    </div>
</div>

<div>
    <a asp-action="Login" asp-controller = "Session">Back to List</a>
</div>*@

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="/css/main.css" rel="stylesheet" />
  </head>
  <body class="forgot-password-page-background">
    <div class="forgot-password-main">
      <h1>forgot password</h1>
      <form method="post">
        <div class="forgot-password-main-txt">
          <input type="" required />
          <span></span>
          <label>Email</label>
        </div>

        <input type="submit" value="Send" />
      </form>
    </div>
  </body>
</html>
