@*Here Login*@

@model User
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link href="/css/main.css" rel="stylesheet" />
  </head>
  <body class="sign-in-page-background">
    <div class="sign-in-main">
      <h1>sign-in</h1>
      <form method="post">
        <div class="sign-in-main-txt">
          <input type="email" type="text" required />
          <span></span>
          <label>E-mail</label>
        </div>

        <div class="sign-in-main-txt">
          <input minlength="8" type="password" required />
          <span></span>
          <label>Password</label>
        </div>

        <div class="pass">
          <a asp-action="ForgotPassword" asp-controller="Session"> Forgot Password?</a>
        </div>
        <input type="submit" value="Login" />
        <div class="signup_link">
          Not a member? <a asp-action="SignUp" asp-controller="Register">Signup</a>
        </div>
      </form>
    </div>
  </body>
</html>

