@model RegisterViewModel

@{
    Layout = "_AufLayout";
}

    <div class="sign-up-main sign-in-main">
      <h1>sign-up</h1>
      <form asp-action="SignUp" asp-controller="Session" method="post" >
		   <div asp-validation-summary="ModelOnly"></div>
        <div class="sign-up-main-txt">
          <input type="text" asp-for="UserName" required/>
          <span></span>
          <label>Name</label>
        </div>

        <div class="sign-up-main-txt">
          <input type="text" asp-for="Surname" required />
          <span></span>
          <label>Surname</label>
        </div>

        <div class="sign-up-main-txt">
          <input type="email" asp-for="Email" required />
          <span></span>
          <label>E-mail</label>
        </div>

        <div class="sign-up-main-txt">
          <input type="number" asp-for="Phone" required />
          <label>Phone</label>
        </div>

        <div class="sign-up-main-txt">
          <input minlength="8" type="password" asp-for="Password" required />
          <label>Password</label>
        </div>

		 <div class="sign-up-main-txt">
          <input minlength="8" type="password" asp-for="PasswordConfirm" required />
          <label>Confirm Password</label>
        </div>
        <input type="submit" value="Login" />
          <div class="pass">
       <div class="signup_link">
      <a asp-action="SignIn" asp-controller="Session">Вхід</a>
      </div>
      </div>	

      </form>    
    </div>


@*Here Register*@

@*@model User


<form asp-action="Login" method="post" >
		<div>
			<label asp-for="UserName"></label>
			<div>
				<input asp-for="UserName" />
				<span asp-validation-for="UserName"></span>
			</div>
		</div>

		<div>
			<label asp-for="UserSurname"></label>
			<div class="col-md-5">
				<input asp-for="UserSurname" />
				<span asp-validation-for="UserSurname" ></span>
			</div>
		</div>

		<div class="form-group">
			<label asp-for="UserEmail"></label>
			<div>
				<input asp-for="UserEmail" />
				<span asp-validation-for="UserEmail" ></span>
			</div>
		</div>

		<div>
			<label asp-for="UserPassword"></label>
			<div >
				<input asp-for="UserPassword" />
				<span asp-validation-for="UserPassword" ></span>
			</div>
		</div>

		<div >
			<label asp-for="UserPhone"></label>
			<div>
				<input asp-for="UserPhone"  />
				<span asp-validation-for="UserPhone"></span>
			</div>
		</div>
		<input class="btn btn-success" type ="submit" value="Зареєструватися" />
	</form>	

	<a asp-action="ForgotPassword" asp-controller="Session">Востановити пароль</a>*@