.forgot-password-page-background {
  margin: 0;
  padding: 0;
  background: $color-008dc1;
  background: (to right, #ec2f4b, $color-008dc1);
  background: linear-gradient(to right, #bbb, $color-008dc1);
  height: 100vh;
  overflow: hidden;
}
.forgot-password-main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background: white;
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
  h1 {
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid silver;
    font-family: $ExtraBold;
    font-size: 33px;
  }
  form {
    padding: 0 40px;
    box-sizing: border-box;
    .forgot-password-main-txt {
      position: relative;
      border-bottom: 2px solid #adadad;
      margin: 30px 0;
    }
  }
  .forgot-password-main-txt {
    input {
      width: 100%;
      padding: 0 5px;
      height: 40px;
      font-size: 16px;
      border: none;
      background: none;
      outline: none;
      font-family: $Medium;
      &:focus ~ label,
      &:valid ~ label {
        top: -5px;
        font-family: $Medium;
        color: $color-008dc1;
      }
      &:focus ~ span::before,
      &:valid ~ span::before {
        width: 100%;
      }
    }
    label {
      font-family: $Medium;
      position: absolute;
      top: 50%;
      left: 5px;
      color: #adadad;
      transform: translateY(-50%);
      font-size: 16px;
      pointer-events: none;
      transition: 0.5s;
    }
    span::before {
      content: "";
      position: absolute;
      top: 40px;
      left: 0;
      width: 0%;
      height: 2px;
      background: $color-008dc1;
      transition: 0.5s;
    }
  }
  input[type="submit"] {
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: $color-008dc1;
    border-radius: 25px;
    font-size: 27px;
    color: #e9f4fb;
    font-family: $ExtraBold;
    cursor: pointer;
    outline: none;
    line-height: 50px;
    margin: 0 0 30px 0;
    &:hover {
      border-color: $color-008dc1;
      transition: 0.5s;
    }
  }
}
