.main-menu {
  display: flex;
  height: 858px;
  width: 320px;
  margin: 105px 0 0 0;
}
.main-menu-first {
  height: 858px;
  width: 320px;
  background-image: url("../images/1.png");
  background-position: center;
  .main-menu-first-opacity {
    width: 320px;
    height: 858px;
    opacity: 0;
    &:hover,
    &:focus {
      opacity: 1;
      width: 320px;
      height: 858px;
      padding: 20px;
      background-color: rgba(33, 33, 33, 0.75);
    }
  }
  .left {
    display: flex;
    width: 100%;
    height: 35px;
    a {
      font-family: $Medium;
      color: white;
      text-decoration: none;
      float: left;
    }
    .main-menu-first-uper-ico {
      width: 30px;
      height: 30px;
      float: left;
      fill: white;
    }
    .main-menu-first-uper-text {
      display: flex;
      height: 30px;
      align-items: center;
      text-align: center;
    }
  }
  .main-menu-category-age {
    height: 50px;
    width: 50px;
    fill: white;
    &:hover,
    &:focus {
      fill: red;
    }
  }
  .right {
    display: flex;
    width: 100%;
    height: 35px;
    margin: 0 20px 0 0;
    a {
      font-family: $Medium;
      color: white;
      text-decoration: none;
      float: left;
    }
    .main-menu-second-uper-ico {
      width: 30px;
      height: 30px;
      float: left;
      fill: white;
    }
    .main-menu-second-uper-text {
      display: flex;
      height: 30px;
      align-items: center;
      text-align: center;
    }
  }

  .main-menu-category {
    width: 95%;
    height: 40px;
    background-color: $color-yellow;
    font-family: $Medium;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 90%;
    border-radius: 20px;
    margin: 0 auto;
    position: relative;
    top: 350px;
  }

  .main-menu-bottom-text {
    position: relative;
    width: 100%;
    top: 450px;
    font-family: "ExtraBold";
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 30px;
    display: flex;
    justify-content: center;
    &:hover,
    &:focus {
      color: $color-pink-red;
    }
  }
}
.main-menu-2 {
  height: 858px;
  width: 320px;
  background-color: red;
}
.main-menu-3 {
  height: 858px;
  width: 320px;
  background-color: green;
}
.main-menu-4 {
  height: 858px;
  width: 320px;
  background-color: orange;
}
.main-menu-5 {
  height: 858px;
  width: 320px;
  background-color: pink;
}
.main-menu-6 {
  height: 858px;
  width: 320px;
  background-color: purple;
}
