

    <main class="basket-main">
      <article class="basket-main-uper"><h1>Кошик</h1></article>
      <article class="basket-main-box">
        <section class="basket-main-movie">
          <div class="movie">
            <div class="movie-left"><div class="img"></div></div>

            <div class="movie-right">
              <h1 class="text-h1">Форсаж 9</h1>
              <div>
                <div class="movie-right-info-text">Формати:</div>
                <div>
                  <svg class="movie-right-info-2D">
                    <use href="./images/symbol.svg#icon-2"></use>
                  </svg>
                  <svg class="movie-right-info-2D">
                    <use href="./images/symbol.svg#icon-3"></use>
                  </svg>
                  <div class="movie-right-info-text">Вікове обмеження:</div>
                  <svg class="movie-right-info-2D">
                    <use href="./images/symbol.svg#icon-age-limit-12"></use>
                  </svg>
                </div>
              </div>
            </div>
          </div>
          <div class="description">
            <div>
              <svg class="description-ico">
                <use href="./images/symbol.svg#icon-place"></use>
              </svg>
              <div class="description-text">Львів (FORUM LVIV)</div>
            </div>
            <div>
              <svg class="description-ico">
                <use href="./images/symbol.svg#icon-date"></use>
              </svg>
              <div class="description-text">7 Грудня,вівторок</div>
            </div>
            <div>
              <svg class="description-ico">
                <use href="./images/symbol.svg#icon-clock"></use>
                <div class="description-text">11:00-13:23</div>
              </svg>
            </div>
          </div>
          <div class="placing">
            <h1 class="placing-h1">Твоє замовлення в кошику</h1>
            <div class="placing-bg">
              <div>
                <div class="placing-bg-number">1</div>
                <div class="placing-bg-text">Ряд</div>
              </div>
              <div>
                <div class="placing-bg-number">2</div>
                <div class="placing-bg-text">Місце</div>
              </div>
              <div>
                <div class="placing-bg-bonus">90 Бонусів</div>
              </div>
              <div>
                <div class="placing-bg-pay">90 Гривень</div>
              </div>
            </div>
            <button type="button" class="placing-input">
              У мене є промокод
            </button>
          </div>
        </section>

        <section class="basket-main-product">
          <div class="product">
            <div class="product-left">
              <div class="basket-main-product-img"></div>
            </div>
            <div class="product-right">
              <h1 class="text-h1">Окуляри 3D</h1>
            </div>
          </div>
          <div class="description">
            <div>
              <svg class="description-ico">
                <use href="./images/symbol.svg#icon-place"></use>
              </svg>
              <div class="description-text">Львів (FORUM LVIV)</div>
            </div>
            <div>
              <svg class="description-ico">
                <use href="./images/symbol.svg#icon-date"></use>
              </svg>
              <div class="description-text">7 Грудня,вівторок</div>
            </div>
            <div>
              <svg class="description-ico">
                <use href="./images/symbol.svg#icon-clock"></use>
                <div class="description-text">11:00</div>
              </svg>
            </div>
          </div>
        </section>

        <section class="basket-main-pay">
          <div class="card">
            <div class="card-text">Оплата карткою</div>
            <button type="button" class="button-pay">Оплатити картою</button>
          </div>

          <div class="bonus">
            <div class="bonus-text">Оплата бонусами</div>
            <button type="button" class="button-pay-bonus">
              Оплатити бонусами
            </button>
          </div>
        </section>
      </article>
    </main>

