
 

 <main class="main-menu">
      <div class="main-menu-first">
        <div class="main-menu-first-opacity">
          <div class="left">
            <a href=""
              ><svg class="main-menu-first-uper-ico">
                <use href="./images/symbol.svg#icon-play"></use>
              </svg>
              <div class="main-menu-first-uper-text">Дивитися трейлер</div>
            </a>
          </div>
          <div class="right">
            <a href=""
              ><svg class="main-menu-second-uper-ico">
                <use href="./images/symbol.svg#icon-information"></use>
              </svg>
              <div class="main-menu-second-uper-text">Інформація про фільм</div>
            </a>
          </div>
          <svg class="main-menu-category-age">
            <use href="./images/symbol.svg#icon-age-limit-12"></use>
          </svg>
          <div class="main-menu-category">Топ продаж</div>
          <a href="" class="main-menu-bottom-text">Людина павук</a>
        </div>
      </div>
      <div class="main-menu-2"></div>
      <div class="main-menu-3"></div>
      <div class="main-menu-4"></div>
      <div class="main-menu-5"></div>
      <div class="main-menu-6"></div>
    </main>
   