
 

    <main class="main">
      <div class="first-left-grid"></div>
      <div class="first-right-grid"></div>
      <div class="main-first-film">
        <div class="main-first-film-img"></div>
        <div class="main-first-film-info">Новинка</div>
        <div class="main-first-film-text">3D</div>
      </div>
      <div class="main-second-film">
        <div class="main-second-film-img"></div>
        <div class="main-second-film-info">Новинка</div>
        <div class="main-second-film-text">3D</div>
      </div>
    </main>

   