

    <main class="main-promotionsanddiscounts">
      <p class="main-promotionsanddiscounts-text">
        Знижки у кінотеатрі MYCINEMA постійно діють знижки для школярів,
        студентів, пенсіонерів, людей з інвалідністю, ветеранів, учасників АТО,
        багатодітних сімей, дітей-сиріт лише на сеанси у будні на стандартні
        місця в технології CINETECH+. Зверніть увагу, що знижка для школярів діє
        лише у будні дні після 14:00 за винятком періоду канікул (у період
        канікул знижка діє протягом усього робочого дня).
      </p>
      <p class="main-promotionsanddiscounts-text">
        Знижки надаються студентам стаціонару будь-яких вищих навчальних
        закладів України та студентам іноземних навчальних закладів (академія,
        університет, інститут, консерваторія, коледж, технікум, училище).
      </p>
      <p class="main-promotionsanddiscounts-text">
        Щоб отримати знижку для організованої групи людей, необхідно обговорити
        це з адміністрацією в самому кінотеатрі, звернутися до онлайн-чату на
        сайті або зателефонувати за номером 0 800 300 600 (Пн-Чт - з 9:00 до
        21:00; Пт-Нд - з 9:00 до 22:00 (безкоштовно по Україні з будь-якого
        номера).
      </p>
      <p class="main-promotionsanddiscounts-text">
        Якщо людина з інвалідністю хоче прийти до нас, будь ласка, повідом нам
        про це заздалегідь, щоб ми змогли підготуватися. Якщо вам потрібна
        допомога, ми зробимо все можливе, щоб забезпечити максимальний комфорт.
        Для цього необхідно звернутися до адміністрації кінотеатру за номером: 0
        800 300 600 (Пн-Чт – з 9:00 до 21:00; Пт-Нд – з 9:00 до 22:00;
        безкоштовно по Україні з будь-якого номера).
      </p>
      <p class="main-promotionsanddiscounts-text">
        Щоб купити квиток зі знижкою в касі, тобі необхідно звернутися до кас
        кінотеатру та пред'явити учнівський, студентський квиток або інше
        посвідчення, яке підтверджує твоє право на пільги. При цьому на 1
        документ можна придбати лише 1 квиток у кіно зі знижкою.
      </p>
    </main>
