

    <main class="main-shop">
      <article class="main-shop-box">
        <div class="product-box">
          <img src="/images/glasses-front.png" alt="" class="img-box" />
          <div class="product-box__add">
            <button type="button">-</button>
            <h1>1</h1>
            <button type="button">+</button>
          </div>
          <p class="info-box">Окуляри 3D</p>
        </div>
        <div class="product-box">
          <img src="/images/superbig.png" alt="" class="img-box" />
          <div class="product-box__add">
            <button type="button">-</button>
            <h1>1</h1>
            <button type="button">+</button>
          </div>
          <p class="info-box">Попкорн карамельний великий</p>
        </div>
        <div class="product-box">
          <img src="/images/superaverage.png" alt="" class="img-box" />
          <div class="product-box__add">
            <button type="button">-</button>
            <h1>1</h1>
            <button type="button">+</button>
          </div>
          <p class="info-box">Попкорн карамельний середній</p>
        </div>
        <div class="product-box">
          <img src="/images/superlittle.png" alt="" class="img-box" />
          <div class="product-box__add">
            <button type="button">-</button>
            <h1>1</h1>
            <button type="button">+</button>
          </div>
          <p class="info-box">Попкорн карамельний маленький</p>
        </div>
        <div class="product-box">
          <img src="/images/superbig.png" alt="" class="img-box" />
          <div class="product-box__add">
            <button type="button">-</button>
            <h1>1</h1>
            <button type="button">+</button>
          </div>
          <p class="info-box">Попкорн великий</p>
        </div>
        <div class="product-box">
          <img src="/images/superaverage.png" alt="" class="img-box" />
          <div class="product-box__add">
            <button type="button">-</button>
            <h1>1</h1>
            <button type="button">+</button>
          </div>
          <p class="info-box">Попкорн середній</p>
        </div>
        <div class="product-box">
          <img src="/images/superlittle.png" alt="" class="img-box" />
          <div class="product-box__add">
            <button type="button">-</button>
            <h1>1</h1>
            <button type="button">+</button>
          </div>
          <p class="info-box">Попкорн маленький</p>
        </div>
        <div class="product-box">
          <img src="/images/pepsi.png" alt="" class="img-box" />
          <div class="product-box__add">
            <button type="button">-</button>
            <h1>1</h1>
            <button type="button">+</button>
          </div>
          <p class="info-box">Напій пепсі</p>
        </div>
        <div class="product-box">
          <img src="/images/pepsiblack.png" alt="" class="img-box" />
          <div class="product-box__add">
            <button type="button">-</button>
            <h1>1</h1>
            <button type="button">+</button>
          </div>
          <p class="info-box">Напій пепсі (блек пет)</p>
        </div>
        <div class="product-box">
          <img src="/images/mirinda.png" alt="" class="img-box" />
          <div class="product-box__add">
            <button type="button">-</button>
            <h1>1</h1>
            <button type="button">+</button>
          </div>
          <p class="info-box">Мірінда</p>
        </div>
      </article>
    </main>

