@using CinemaProject.Models.MovieModels
@model SeatModelView

 <main class = "main-block-session-by-ticket">
<form asp-action="CreateSeat" asp-controller="Movie"  method="post">
     @Html.AntiForgeryToken()
   
  <div class='result'>
  </div>
  <div class='cinemaHall zal1'></div>
 <div id = "form-tickets"></div>
 <input type="submit" value="Додати у кошик" />
 </form>
  </main>
@section scriptsMain{
    <script>
           let sq = 
          []
      
    
    
    
  


var cinemaHall1 = {
    row: [10, 20, 30, 30, 30, 30, 30, 30, 30, 30, 30]
  },
  cinemaHallMap = '';
$.each(cinemaHall1.row, function(row, numberOfSeats) {
  cinemaHallRow = '';
  for (i = 1; i <= numberOfSeats; i++) {
    cinemaHallRow += '<div class="seat" data-row="' +
      row + '" data-seat="' +
      i + '">&nbsp;</div>';
  }
  cinemaHallMap += cinemaHallRow + '<div class="passageBetween">&nbsp;</div>';
});

$('.zal1').html(cinemaHallMap);
$('.seat').on('click', function(e) {
  $(e.currentTarget).toggleClass('bay');
  showBaySeat();
});

function showBaySeat() {
 var i = 0; 
  result = '';
  sq = []
  var html2Add= ''
  $.each($('.seat.bay'), function(key, item) {
      
    i++;
    $(item).data().row
    $(item).data().seat
   
    html2Add  = `
    <div class="ticket">
    <p>Ряд:${$(item).data().row} Місце: ${$(item).data().seat} </p>
    <input type='text' id = SeaRows[${i}]  name= SeaRows />
    </div>`
    result = $(item).data().row +" "+ $(item).data().seat
    
  });

 $('#form-tickets').append(html2Add);
 document.getElementById(`SeaRows[${i}]`).value = result
 result = ' ';
}
    </script>
}