* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.navbar-admin-page {
}


.left-admin-panel {
    width: 255px;
    height: 100vh;
    background: #363740;
    display: flex;
    justify-content: center;
    float: left;
}

.admin-dashboard {
    display: flex;
    flex-direction: column;
}

    .admin-dashboard li {
        width: 255px;
        height: 56px;
        list-style: none;
    }

        .admin-dashboard li:hover {
            background: #9FA2B4;
        }

            .admin-dashboard li:hover a {
                color: #DDE2FF;
                opacity: 1;
            }



.dashboard-admin-kit {
    padding-top: 41px;
    display: flex;
    padding-bottom: 61px;
}

    .dashboard-admin-kit img {
        width: 32px;
        height: 32px;
        margin-left: 29px;
        margin-right: 12px;
    }

    .dashboard-admin-kit h3 {
        font-size: 19px;
        line-height: 24px;
        letter-spacing: 0.4px;
        color: #A4A6B3;
        opacity: 0.7;
        align-self: center;
    }


.admin-dashboard li a {
    display: block;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    letter-spacing: 0.2px;
    color: #A4A6B3;
    height: 74px;
    padding-left: 32px;
    padding-top: 18px;
    padding-bottom: 18px;
}



.icons-admin-panel {
    color: white;
    font-size: 20px;
    margin-right: 24px;
    float: left;
}

.navbar-admin-page {
}

.page-admin-panel {
    margin-left: 27px;
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.3px;
    color: #252733;
    align-self: center;
}

.account-admin-panel {
    display: flex;
    justify-content: space-between;
    padding-right: 33px;
    padding-top: 30px;
}

.user-admin-panel {
    display: flex;
    align-self: center;
    margin-right: 14px;
}

    .user-admin-panel span {
        align-self: center;
        margin-right: 14px;
    }


.right-admin-page {
    display: flex;
    padding-left: 30px;
    padding-top: 54px;
    flex-direction: column;
}


.user-edit-form input {
    width: 400px;
   
}

.user-edit-form {
    display:flex;
    flex-direction:column;
    align-items:center;
    
    width:500px;
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    margin-bottom:100px;
}

#userTable_filter label {
    display: none;
}

#img_preview {
    width: 120px;
    height: 120px;
    cursor: pointer;
    display: block;
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
}
.change-photo {
    width: 180px;
    height: 180px;
    border-radius: 30px;
    position:relative;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background: #74ebd5; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ACB6E5, #74ebd5); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ACB6E5, #74ebd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    align-self: start;
    margin-left: 45px;
}

#file-upload{
    display:none;
}

#text-upload-file {
}