@*Here Login*@

@model LoginViewModel
@{
    Layout = "_AufLayout";
}

    <div class="sign-in-main">
      <h1>sign-in</h1>
      <form method="post" asp-controller="Session" asp-route-returnUrl="@Model.ReturnUrl" 
      asp-action="SignIn">
           <div asp-validation-summary="ModelOnly"></div>
        <div class="sign-in-main-txt">
          <input type="email" type="text" asp-for="Email" required />
          <span></span>
          <label>E-mail</label>
        </div>

        <div class="sign-in-main-txt">
          <input minlength="8" type="password"  asp-for="Password" required />
          <span></span>
          <label>Password</label>
        </div>
        <div>
            <label asp-for="RememberMe"></label><br />
            <input asp-for="RememberMe" />
        </div>

        <div class="pass">
          <a asp-action="ForgotPassword" asp-controller="Session"> Forgot Password?</a>
        </div>
        <input type="submit" value="Login" />
        <div class="signup_link">
          Not a member? <a asp-action="SignUp" asp-controller="Session">Signup</a>
        </div>
      </form>
    </div>

