@model ControlProducts
@{
    Layout = "_AdminLayout";
}

<div><a asp-action="AddProduct" class="add-movie-link">Add new movie</a></div>

<div class = "control-users-page movie-controls">
        <form method="post" asp-action="EditProduct" asp-controller="AdminControls" class="user-edit-form ">
            <input type="hidden" asp-for="ProductId" />
        <div class="form-group">
            <label asp-for="ProductName" class="control-label">Назва продукту</label>
            <input type="text" asp-for="ProductName" class="form-control"/>
        </div>
        <div class="form-group">
            <label asp-for="ProductPrice" class="control-label">Вартість продукту</label>
            <input type="text" asp-for="ProductPrice" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="ProductPhotoPath" class="control-label">Фото продукту</label>
            <input type="text" asp-for="ProductPhotoPath" class="form-control"/>
        </div>
        <input type="submit" value="Add" class="btn btn-primary"/>
    </form>
<table class="table table-dark" id="productTable">
    <thead>
        <tr>
            <th>productId</th>
            <th>productName</th>
            <th>productPrice</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
</table>
</div>

@section scripts{
 
  <script>
        $(document).ready(function()
        {
           {
             let table = $("#productTable").DataTable(
             {
                processing: true,
                serverSide: true,
                searching: true,
                paging: false,
                info: false,
                "ajax": 
                {
                   "url": "/AdminControls/GetProductList",
                   "type": "GET",
                   "datatype": "json"
                },
                "columns":
                [
                   {"data": "productId"},
                   {"data": "productName"},
                   {"data": "productPrice"},
                   {
                    "data": null,
                    "className": "dt-center product-edit",
                    "defaultContent": '<button>Оновити</button>',
                    "orderable": false
                   },
                   {
                    "data": null,
                    "className": "dt-center editor-delete",
                    "defaultContent": '<a>Видалити</a>',
                    "orderable": false
                   }
                ]
             });
             $(document).on('click','.editor-delete',function(e) 
               {
                    var row = $(this).closest('tr');
                    console.log(table.row( row ).data().productId);
                    var id = table.row( row ).data().productId;
                    console.log(id)
                    Confirm.open(
                    {
                        classblock:"right-admin-page",
                        message: "Are you sure?",
                        title: "You are about to delete this user!",
                        yes:"Delete",
                        no: "Cansel",
                        onok: () => 
                        {
                            var row = $(this).closest('tr');
                            var id = table.row( row ).data().productId.toString();
                            let form = document.createElement("form");
                            form.method = "POST";
                            form.action = `/AdminControls/DeleteProduct/${id}`;
                            form.style = "display: none;";
                            let methodInput = document.createElement("input");
                            methodInput.value = "DELETE";
                            methodInput.name = "Delete";
                            form.appendChild(methodInput);
                            document.body.appendChild(form);
                            form.submit();
                         }
                    })
                });

               $(document).on('click','.product-edit',function(e)
               {
                  var row = $(this).closest('tr');         
                  var id = table.row( row ).data().productId;
                 

                  var IdInput = document.getElementById('ProductId');
                  var nameInput = document.getElementById('ProductName');
                  var productPriceInput = document.getElementById('ProductPrice');
                  var productPhotoPathInput = document.getElementById('ProductPhotoPath');
              

                 IdInput.value = table.row( row ).data().productId
                 nameInput.value = table.row( row ).data().productName
                 productPriceInput.value = table.row( row ).data().productPrice
                 productPhotoPathInput.value = table.row( row ).data().productPhotoPath
               });
               


           }
        });

       var Confirm = {
    open (options) {
        options = Object.assign({}, {
            title: '',
            message: '',
            classblock: '',
            okText: 'OK',
            cancelText: 'Cancel',
            yes: '',
            no: '',
            onok: function () {console.log("delete")},
            oncancel: function () {console.log("cansel")}
        }, options);

    const html = `
         <div class="user-alert-warning">
                <img src = "/images/youWontDelete.svg"></img>
                <p class="warning-text"><span>${options.title}</span>${options.message}</p>
                <div class="warning-buttons">
                    <a style ='cursor: pointer;' id = warning-cansel>${options.no}</a>
                    <a style ='cursor: pointer;' id = warning-delete>${options.yes}</a>
                </div>
    `;

    const template = document.createElement('template')
    
    template.innerHTML = html;

   
    const confirmEl  = template.content.querySelector('.user-alert-warning');
    const bntNo      = template.content.querySelector('#warning-cansel');
    const bntYes     = template.content.querySelector('#warning-delete');


    confirmEl.addEventListener('click', e => {
            if (e.target === confirmEl) {
                options.oncancel();
                this._close(confirmEl,options.classblock);
            }
        });

        
    bntYes.addEventListener('click', () => {
            options.onok();
            this._close(confirmEl,options.classblock);
        });

    bntNo.addEventListener('click', () => {
                options.oncancel();
                this._close(confirmEl,options.classblock);
            });
    let main_page = document.body.getElementsByClassName(options.classblock)[0];
    
    main_page.appendChild(template.content);
  },

  _close(confirmEl,classname){
    confirmEl.classList.add('confirm--close');

        confirmEl.addEventListener('animationend', () => {

           
            let main_page = document.body.getElementsByClassName(classname)[0];
            
            main_page.removeChild(confirmEl);
        });
  }
}
</script>
}