@using CinemaProject.Models.AdminModels
@model AddMovie;
@{
    Layout = "_Layout";
}

<main>
    <form asp-action="AddMovie" asp-controller="AdminControls">
        <input type="text" placeholder="Movie name" asp-for="Movie.NameMovie" name="NameMovie"/>
        <input type="text" placeholder="Age restrcition" asp-for="Movie.AgeRestriction" name="AgeRestriction"/>
        <input type="text" placeholder="Creation date" asp-for="Movie.CreateAt" name="CreateAt"/>
        <div id="SubcategorySelects">
            <select id="SubcategorySelect" asp-for="SubcategoryId" asp-items="ViewBag.Subcategories" name="Subcategory"></select>
        </div>
        <input type="submit" value="Add"/>
    </form>
    <textarea placeholder="Movie description" form="AddMovieForm" asp-for="Movie.MovieDescription" name="MovieDescription"></textarea>    
</main>
<script src="~/js/AddMovie.js"></script>