@model Product

    <form method="post" asp-action="AddProduct" asp-controller="AdminControls">
        <input type="text" placeholder="Product name" asp-for="ProductName"/>
        <input type="submit" value="Add"/>
    </form>

