@model ControlMovies

@{
    Layout = "_AdminLayout";
}


<form asp-action="Edit" asp-controller="MovieControls" class="user-edit-form ">
    <div asp-validation-summary="All"></div>
    <div class="form-group">
        <input type="hidden" asp-for="Id" />
    </div>
    <div class="form-group">
        <label asp-for="NameMovie" class="control-label">Назва</label>
        <input type="text" asp-for="NameMovie" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="AgeRestriction" class="control-label">Вікове обмеження</label>
        <input type="text" asp-for="AgeRestriction" class="form-control" />
    </div>
     <div class="form-group">
        <label asp-for="MovieDescription" class="control-label">Опис</label>
        <input  type="text" asp-for="MovieDescription" class="form-control" />
    </div>
     <div class="form-group">
        <label asp-for="CreateAt" class="control-label">Дата створення</label>
        <input type="text" asp-for="CreateAt" class="form-control" />
    </div>
         <div class="form-group">
        <label asp-for="MoviePhotoPath" class="control-label">Зображення фільму</label>
        <input type="text" asp-for="MoviePhotoPath" class="form-control" />
    </div>
         <div class="form-group">
        <label asp-for="MoviePreviewPath" class="control-label">Прев'ю фільму</label>
        <input type="text" asp-for="MoviePreviewPath" class="form-control" />
    </div>
         <div class="form-group">
        <label asp-for="MovieTrailerPath" class="control-label">Трейлер фільму</label>
        <input type="text" asp-for="MovieTrailerPath" class="form-control" />
    </div>

    <div class="form-group">
        <input type="submit" value="Зберегти"  class="btn btn-primary"/>
    </div>
</form>

<table class="table table-dark" id="movieTable">
    <thead>
        <tr>
            <th>movieId</th>
            <th>nameMovie</th>
            <th>ageRestriction</th>
            <th></th>
        </tr>
    </thead>
</table>
@section scripts{
 
  <script>
        $(document).ready(function(){
           {
             let table = $("#movieTable").DataTable({
                processing: true,
                serverSide: true,
                searching: true,
                paging: false,
                info: false,
                   "ajax": {
                   "url": "/AdminControls/GetMovieList",
                   "type": "GET",
                   "datatype": "json"
                    
               },
               "columns":[
                   {"data": "movieId"},
                   {"data": "nameMovie"},
                   {"data": "ageRestriction"},
                   {
                    "data": null,
                    "className": "dt-center movie-edit",
                    "defaultContent": '<button>Оновити</button>',
                    "orderable": false
                   },
                   {
                    "data": null,
                    "className": "dt-center editor-edit",
                    "defaultContent": '<button>Оновити</button>',
                    "orderable": false
                   }
               ]
               });

               $(document).on('click','.movie-edit',function(e) {
                  var row = $(this).closest('tr');         
                  var id = table.row( row ).data().id;
                 

                  var IdInput = document.getElementById('Id');
                  var nameInput = document.getElementById('NameMovie');
                  var ageRestrictionInput = document.getElementById('AgeRestriction');
                  var descriptionInput = document.getElementById('MovieDescription');
                  var createAtInput = document.getElementById('CreateAt');
                  var moviePhotoPath = document.getElementById('MoviePhotoPath');
                  var moviePreviewPath = document.getElementById('MoviePreviewPath');
                  var movieTrailerPath = document.getElementById('MovieTrailerPath');
              

                 IdInput.value = table.row( row ).data().movieId
                 nameInput.value = table.row( row ).data().nameMovie
                 ageRestrictionInput.value = table.row( row ).data().ageRestriction
                 descriptionInput.value = table.row( row ).data().movieDescription
                 createAtInput.value =  table.row( row ).data().createAt
                 moviePhotoPath.value = table.row( row ).data().moviePhotoPath
                 moviePreviewPath.value = table.row( row ).data().moviePreviewPath
                 movieTrailerPath.value =  table.row( row ).data().movieTrailerPath
        });
           }
       });
</script>
}